electron_mirror=https://npmmirror.com/mirrors/electron/
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
@base:registry=http://creator-npm.cocos.org:7001/
@editor:registry=http://creator-npm.cocos.org:7001/
registry=https://registry.npmmirror.com
strict-ssl=false


# 安装 puppeteer 时踩坑
# https://juejin.cn/post/7244567350720184357
# https://puppeteer.bootcss.com/
PUPPETEER_DOWNLOAD_BASE_URL=https://cdn.npmmirror.com/binaries/chrome-for-testing
